<style>
  #content-blocks-{{forloop.index0}} .background-color {background-color: {{item.colors.background-color}};}

  #content-blocks-{{forloop.index0}} .textarea-color a {color: {{item.colors.link-color}};}

  #content-blocks-{{forloop.index0}} .textarea-color a:hover {color: {{item.colors.link-hover-color}};}

  #content-blocks-{{forloop.index0}} .purity-button a
  {
  background-color: {{item.colors.button-color}};
  color: {{item.colors.button-text-color}};
  font-family: {{item.fonts.button-font}};
  font-weight: bolder;
  padding: .8rem 2rem .6rem;
  border: solid 2px {{item.colors.button-text-color}};
  border-top-left-radius: {{item.button-border-radius.border-top-left-corner}};
  border-top-right-radius: {{item.button-border-radius.border-top-right-corner}};
  border-bottom-left-radius: {{item.button-border-radius.border-bottom-left-corner}};
  border-bottom-right-radius: {{item.button-border-radius.border-bottom-right-corner}};
  }

  #content-blocks-{{forloop.index0}} .purity-button a:hover
  {
  color: {{item.colors.button-text-hover-color}};
  background-color: {{item.colors.button-hover-color}};
  border: solid 2px {{item.colors.button-text-hover-color}};
  transition: all 0.5s;
  }

  #content-blocks-{{forloop.index0}} .purity img
    { 
    border: solid 2px {{item.colors.image-border-color}};
    border-top-left-radius: {{item.image-border-radius.top-left-corner}};
    border-top-right-radius: {{item.image-border-radius.top-right-corner}};
    border-bottom-left-radius: {{item.image-border-radius.bottom-left-corner}};
    border-bottom-right-radius: {{item.image-border-radius.bottom-right-corner}};
    }

  #content-blocks-{{forloop.index0}} h1 
  {
  font-size: 3.5rem;
  color: {{item.colors.heading-color}};
  font-family: {{item.fonts.heading-font}};
  }

  #content-blocks-{{forloop.index0}} h2 
  {
  font-size: 3rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 2.5rem;
  color: {{item.colors.other-subheadings-color}};
  font-family: {{item.fonts.other-subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h4 
  {
  font-size: 2rem;
  color: {{item.colors.other-subheadings-color}};
  font-family: {{item.fonts.other-subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h5 
  {
  font-size: 1.5rem;
  color: {{item.colors.other-subheadings-color}};
  font-family: {{item.fonts.other-subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h6 
  {
  font-size: 1rem;
  color: {{item.colors.other-subheadings-color}};
  font-family: {{item.fonts.other-subheading-font}};
  }

  @media(max-width:576px) 
  {
    #content-blocks-{{forloop.index0}} h1 
    {font-size: 3rem;}

    #content-blocks-{{forloop.index0}} h2 
    {font-size: 2.5rem;}

    #content-blocks-{{forloop.index0}} h3 
    {font-size: 2rem;}

    #content-blocks-{{forloop.index0}} h4 
    {font-size: 1.5rem;}

    #content-blocks-{{forloop.index0}} h5 
    {font-size: 1rem;}

    #content-blocks-{{forloop.index0}} h6 
    {font-size: 0.9rem;}
  }
</style>

<section id="content-blocks-{{forloop.index0}}">
  <section id="{{item.content-block-link}}" class="grid-middle purity-content-block background-color">
    <div class="col-3_sm-12 reveal purity-banner fade-left" style="background-image: url('{{item.background-image}}');">
      <div class="purity padded">
        <img class="" src="{{item.image}}" alt="">
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-7_sm-12 textarea grid padded reveal fade-right">
      <p class=" ">{{item.textarea_html}}</p>
      <div class="purity-button">  
        <a href="{{item.button-link}}">{{item.cta}}</a>
      </div>  
    </div>
    </div>
    </div>
  </section>
</section>